[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
opencv-contrib-python = "*"
gunicorn = "*"
numpy = "*"
Jinja2 = ">=2.10.1"

[dev-packages]

[requires]
python_version = "3.6"
